<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.com.dxk.springboot.shardingsphere.jdbc.dao.UserDao">


    <insert id="inserOneUser" >
        insert into user (id, user_name, user_password) values (
                                                            #{id,jdbcType=INTEGER},
                                                            #{userName,jdbcType=VARCHAR},
                                                            #{passWord,jdbcType=VARCHAR}
                                                            )
    </insert>

    <select id="selectUserById" resultType="cn.com.dxk.springboot.shardingsphere.jdbc.domain.User">
        select * from user where id = #{id}
    </select>

    <delete id="deleteAllData">
        delete from user;
    </delete>
</mapper>